//------------------------------------
// #Variables
//------------------------------------

// COLORS

$blaze-orange: #fa6400;
$autumn-bloom: #fee0cc;
$mountain: #575757;
$bleached-silk: #f2f2f2;
$pelati: #ff3333;
$gray-200: #e5e7eb;
